<?xml version="1.0" encoding="UTF-8"?>

<IDataXMLCoder version="1.0">
  <record javaclass="com.wm.data.ISMemDataImpl">
    <array name="globalVariables" type="record" depth="1">
      <record javaclass="com.wm.data.ISMemDataImpl">
        <value name="key">marketo_server</value>
        <value name="value">https://972-EQB-963.mktorest.com</value>
        <value name="isSecure">false</value>
      </record>
      <record javaclass="com.wm.data.ISMemDataImpl">
        <value name="key">marketo_cust_Id</value>
        <value name="value">060e14b1-be5a-4e47-bf93-26013b00afa6</value>
        <value name="isSecure">false</value>
      </record>
      <record javaclass="com.wm.data.ISMemDataImpl">
        <value name="key">marketo_secret</value>
        <value name="value">gvhandle.marketo_secret</value>
        <value name="isSecure">true</value>
      </record>
    </array>
  </record>
</IDataXMLCoder>
